<div class="content">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Liens</th>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
        <th scope="col">Place</th>
        <th scope="col">Creator</th>
        <th scope="col">Attendees</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><strong>Events will coming ...</strong></td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <% @future_events.each do |event| %>
        <tr>
          <th scope="row"><a href="<%= event_path(event.id) %>">Go</a></th>
          <td><%= event.date %></td>
          <td><%= event.description %></td>
          <td><%= event.date %></td>
          <td><%= event.creator.name %></td>
          <td><%= link_to 'Add buddies ...', class: 'btn btn-outline-secondary'%></td></td>
          <td><%= link_to 'Delete', event, class: 'btn btn-outline-danger',
                                    method: :delete,
               data: { confirm: 'Sur ?' } %></td>
        </tr>
        <% end %>
        <tr>
        <td><strong>Events already passed ...</strong></td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
        <% @past_events.each do |event| %>
        <tr>
          <th scope="row"><a href="<%= event_path(event.id) %>">Go</a></th>
          <td><%= event.date %></td>
          <td><%= event.description %></td>
          <td><%= event.date %></td>
          <td><%= event.creator.name %></td>
          <td><%= link_to 'Add buddies ...', class: 'btn btn-outline-secondary'%></td></td>
          <td><%= link_to 'Delete', event, class: 'btn btn-outline-danger',
                                    method: :delete,
               data: { confirm: 'Sur ?' } %></td>
        </tr>

        <% end %>
    </tbody>
  </table>

</div>
