<div class="content">
    <h3>
      <strong><%= @event.creator.name %></strong> a créé l'event suivant :
    </h3>
    <h4>Date :</h4>
    <p class="eventS">
      <%= @event.date %>
    </p>
    <h4>Lieu :</h4>
    <p class="eventS">
      <%= @event.place %>
    </p>
    <h4>Description :</h4>
    <p class="eventB">
      <%= @event.description %>
    </p>
    <h4>Attendees :</h4>
    <p class="eventB">
      <%= @event%>
    </p>


</div>
