<div class="maxime">


<nav class="navbar navbar-inverse navbar-fixed-left">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <% if !logged_in? %>
        <h5><a class="navbar-brand" href="<%= root_path %>">THP-brite Like</a></h5>
        <% else %>
        <h3><a class="navbar-brand" href="<%= root_path %>">Hello <%= current_user.name %></a></h3>
        <% end %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <% if !logged_in? %>
            <li><%= link_to "Sign up", new_user_path, class: "btn btn-info" %></li>
            <br>
            <li><a href="<%= login_path %>" class="btn btn-info">Log in</a></li>
          <% else %>
            <li> <a href="#" class="btn btn-secondary" >Créer un event</a></li>
            <li> <a href="#" class="btn btn-secondary" >Voir les events</a></li>
            <li><a href="<%= admin_path %>" class="btn btn-secondary" >Gestion des utilisateurs</a></li>
            <li><%= link_to "Log out", logout_path, method: :delete, class: "btn btn-danger" %></li>
          <% end %>
          <!-- <li><a href="<%= admin_path %>">Admin pas caché</a></li> -->

        </ul>
      </div>
    </div>
  </nav>
</div>
